{% extends 'celebbot/base.html' %}

{% block content %}
<h1>celebbot</h1>
<div class="col-xs-12">
    <p>to get this bot to run, you will need a <a target="_blank" href="https://twitter.com/">twitter account</a> and make a <a target="_blank" href="https://my.slack.com/services/new/bot">slack bot</a> in your team</p>
    <p>just give your bot a name and hit "Add bot integration"  From there you will get an API Token.  Copy that long string starting with "xoxb-"</p>
    <p>once you have both of those, press "Add new Bot"</p>

</div>
<div class="">
    <form class="form-group" action="/bot/add_twitter" method="GET">
        <input type="submit" class="btn btn-primary" name="" value="Add Bot">
    </form>
</div>
{%endblock%}
